<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.programer27android.copasqenedrive">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dasbord" />
        </activity>
        <activity android:name=".Dasbord"
            android:label="Dasboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"
            android:label="@string/Login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dasbord" />
        </activity>
        <activity android:name=".Register"
            android:label="@string/Signup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dasbord" />
        </activity>
        <activity android:name=".TampilanDataUser"
            android:label="Data User">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dasbord" />
        </activity>
        <activity android:name=".EditData"
            android:label="Edit Data User">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TampilanDataUser" />
        </activity>
    </application>

</manifest>